.cliff-h1{
    color: #99ccff;
}
.bg{
    background-image: url('https://i.pinimg.com/originals/81/33/33/8133333cfe4e2d38d606123a5fc59eb4.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height:45vw ;
    font-size: 30px;


}