<div class="about_images">
<img src="assets/images/Group1166.png" alt="">
</div>
<div class="about">
<img src="assets/images/rena.png" alt="">
<h1>About me</h1>
<h2>I am Renalou S. Cudo 19 years of age,  A 2nd Year Student
in Northern Bukidnon State College taking the course of 
Bachelor of Science in Information Technology. 
My hobbies are Dancing Tiktoks, Sleeping and Eating.
My professional goal is continuing commited to mastering 
the fundamental principles of design and learning essential coding languages. I actively seek guidance from mentors.
</h2>
</div>