<div class="project">
    <h1>Project</h1>
    <img src="assets/images/WEBdesign3.png" alt="">
    <h2>This is our website design. In this website project I am the Vice leader. I assists the Leader in various tasks and may step in to fulfill the leader's responsibility when needed.</h2>
</div>
<div class="guidesign3">
<img src="assets/images/guidesign3.png" alt="">
<h1>This is my simple Calculator using Jframe. This calculator will have buttons for numbers and arithmetic operations and a display to show input and output.</h1>
</div>
<div class="HTMLdesign3">
<img src="assets/images/HTMLdesign3.png" alt="">
<h1>This is my simple Ice Cream Shop using HTML/CSS. It displayed the various Ice cream flavors along with their prices and sizes.</h1>
</div>